<a href="https://colab.research.google.com/github/kena-b-y/Bakery/blob/main/A_128741.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%ls

Classification_Data.csv  Clustering_Data.csv  sample_data/

In [17]:
import pandas as pd
import numpy as np

Classification_df= pd.read_csv('Classification_Data.csv')

Clustering_df=pd.read_csv('Clustering_Data.csv')
Clustering_df.head(20)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3,1
1,0,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3,1
2,1,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3,1
3,1,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4,5
4,1,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,6
5,1,29.0,1.62,53.0,0,1,2.0,3.0,2,0,2.0,0,0.0,0.0,2,0,1
6,0,23.0,1.50,55.0,1,1,3.0,3.0,2,0,2.0,0,1.0,0.0,2,2,1
7,1,22.0,1.64,53.0,0,0,2.0,3.0,2,0,2.0,0,3.0,0.0,2,3,1
8,1,24.0,1.78,64.0,1,1,3.0,3.0,2,0,2.0,0,1.0,1.0,1,3,1
9,1,22.0,1.72,68.0,1,1,2.0,3.0,2,0,2.0,0,1.0,1.0,3,3,1
10,1,26.0,1.85,105.0,1,1,3.0,3.0,1,0,3.0,0,2.0,2.0,2,3,2
11,0,21.0,1.72,80.0,1,1,2.0,3.0,1,0,2.0,1,2.0,1.0,2,3,6
12,1,22.0,1.65,56.0,0,0,3.0,3.0,2,0,3.0,0,2.0,0.0,2,3,1
13,1,41.0,1.80,99.0,0,1,2.0,3.0,2,0,2.0,0,2.0,1.0,1,0,2
14,1,23.0,1.77,60.0,1,1,3.0,1.0,2,0,1.0,0,1.0,1.0,2,3,1
15,0,22.0,1.70,66.0,1,0,3.0,3.0,0,0,2.0,1,2.0,1.0,2,3,1
16,1,27.0,1.93,102.0,1,1,2.0,1.0,2,0,1.0,0,1.0,0.0,2,3,6
17,0,29.0,1.53,78.0,0,1,2.0,1.0,2,0,2.0,0,0.0,0.0,3,0,2
18,0,30.0,1.71,82.0,1,1,3.0,4.0,1,1,1.0,0,0.0,0.0,3,0,6
19,0,23.0,1.65,70.0,1,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,5

In [3]:
print(Clustering_df.shape)

(1500, 17)

In [4]:
for col in Clustering_df.columns:
    print(col)

Gender
Age
Height
Weight
family_history_with_overweight
FAVC
FCVC
NCP
CAEC
SMOKE
CH2O
SCC
FAF
TUE
CALC
MTRANS
NObeyesdad

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
print(Clustering_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          1500 non-null   int64
 1   Age                             1500 non-null   float64
 2   Height                          1500 non-null   float64
 3   Weight                          1500 non-null   float64
 4   family_history_with_overweight  1500 non-null   int64
 5   FAVC                            1500 non-null   int64
 6   FCVC                            1500 non-null   float64
 7   NCP                             1500 non-null   float64
 8   CAEC                            1500 non-null   int64
 9   SMOKE                           1500 non-null   int64
 10  CH2O                            1500 non-null   float64
 11  SCC                             1500 non-null   int64
 12  FAF                             1500 non-null   float64
 13  TUE                             1500 non-null   float64
 14  CALC                            1500 non-null   int64
 15  MTRANS                          1500 non-null   int64
 16  NObeyesdad                      1500 non-null   int64
dtypes: float64(8), int64(9)
memory usage: 199.3 KB
None

In [13]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=10)
kmeans.fit(Clustering_df)
print(kmeans.cluster_centers_)

[[5.37634409e-01 2.21358657e+01 1.69848532e+00 7.96256011e+01
  9.21146953e-01 8.78136201e-01 2.22835417e+00 2.41037953e+00
  1.88888889e+00 2.15053763e-02 2.05411167e+00 3.94265233e-02
  1.08950453e+00 7.63888925e-01 2.26164875e+00 2.76702509e+00
  4.25089606e+00 2.00716846e+00]
 [1.61157025e-01 2.00522701e+01 1.63617444e+00 4.73617500e+01
  3.14049587e-01 7.56198347e-01 2.41252374e+00 2.67320902e+00
  1.47520661e+00 8.26446281e-03 1.69767000e+00 9.09090909e-02
  1.03352330e+00 8.06900153e-01 2.32231405e+00 2.92561983e+00
  1.81818182e-01 5.00000000e+00]
 [9.34579439e-01 2.27994377e+01 1.79658829e+00 1.08162436e+02
  9.81308411e-01 9.43925234e-01 2.30002016e+00 2.63590354e+00
  1.94392523e+00 3.73831776e-02 2.27332279e+00 1.86915888e-02
  9.31436477e-01 8.15065701e-01 2.28037383e+00 2.56074766e+00
  2.21495327e+00 1.96261682e-01]
 [2.87671233e-01 3.86747504e+01 1.65017900e+00 7.99580111e+01
  9.10958904e-01 8.83561644e-01 2.39083897e+00 2.47898970e+00
  1.89041096e+00 2.73972603e-02 1.81768903e+00 2.05479452e-02
  7.68223178e-01 2.40960610e-01 2.49315068e+00 1.71232877e-01
  4.17808219e+00 4.00000000e+00]
 [9.85074627e-01 3.35339846e+01 1.79008878e+00 9.53388577e+01
  9.25373134e-01 9.40298507e-01 2.28249464e+00 2.13479530e+00
  1.97014925e+00 1.49253731e-02 2.18179994e+00 1.49253731e-02
  1.41621469e+00 3.32053299e-01 1.88059701e+00 8.05970149e-01
  4.05970149e+00 2.91044776e+00]
 [5.07042254e-01 2.06268290e+01 1.65322938e+00 6.78051957e+01
  6.29107981e-01 7.04225352e-01 2.28380317e+00 2.46485581e+00
  1.92488263e+00 2.34741784e-02 2.08896161e+00 1.36150235e-01
  1.06475053e+00 7.29983000e-01 2.32863850e+00 2.85446009e+00
  3.37558685e+00 6.00000000e+00]
 [5.76923077e-02 3.35659438e+01 1.60919787e+00 6.49988758e+01
  8.07692308e-01 7.50000000e-01 2.37273610e+00 2.61059008e+00
  1.86538462e+00 3.84615385e-02 1.83034092e+00 3.84615385e-02
  8.72383327e-01 4.05446346e-01 2.11538462e+00 9.42307692e-01
  3.92307692e+00 4.59615385e+00]
 [8.30769231e-01 2.14499358e+01 1.75215005e+00 9.02884168e+01
  9.12820513e-01 9.28205128e-01 2.16906525e+00 2.78255877e+00
  1.89230769e+00 5.12820513e-03 2.15417807e+00 5.12820513e-03
  1.20043628e+00 8.29704472e-01 2.37948718e+00 2.63589744e+00
  3.81025641e+00 2.66666667e+00]
 [4.44444444e-01 2.12681788e+01 1.82426644e+00 1.38836188e+02
  1.00000000e+00 8.88888889e-01 2.77777778e+00 2.77777778e+00
  1.44444444e+00 1.11111111e-01 2.05746300e+00 0.00000000e+00
  1.17841456e+00 6.52500000e-01 2.00000000e+00 3.00000000e+00
  3.55555556e+00 0.00000000e+00]
 [5.21052632e-01 1.97944069e+01 1.68654818e+00 5.75910686e+01
  6.26315789e-01 8.31578947e-01 2.36119925e+00 3.02576467e+00
  1.65263158e+00 3.15789474e-02 1.94685934e+00 1.31578947e-01
  1.36714279e+00 7.71889205e-01 2.48947368e+00 2.17894737e+00
  9.84210526e-01 1.00000000e+00]]

In [14]:
Clustering_df['Clusters'] = kmeans.labels_
Clustering_df.head(20)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Clusters
0,0,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3,1,5
1,0,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3,1,9
2,1,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3,1,0
3,1,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4,5,7
4,1,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,6,7
5,1,29.0,1.62,53.0,0,1,2.0,3.0,2,0,2.0,0,0.0,0.0,2,0,1,9
6,0,23.0,1.50,55.0,1,1,3.0,3.0,2,0,2.0,0,1.0,0.0,2,2,1,9
7,1,22.0,1.64,53.0,0,0,2.0,3.0,2,0,2.0,0,3.0,0.0,2,3,1,9
8,1,24.0,1.78,64.0,1,1,3.0,3.0,2,0,2.0,0,1.0,1.0,1,3,1,5
9,1,22.0,1.72,68.0,1,1,2.0,3.0,2,0,2.0,0,1.0,1.0,3,3,1,5
10,1,26.0,1.85,105.0,1,1,3.0,3.0,1,0,3.0,0,2.0,2.0,2,3,2,2
11,0,21.0,1.72,80.0,1,1,2.0,3.0,1,0,2.0,1,2.0,1.0,2,3,6,0
12,1,22.0,1.65,56.0,0,0,3.0,3.0,2,0,3.0,0,2.0,0.0,2,3,1,9
13,1,41.0,1.80,99.0,0,1,2.0,3.0,2,0,2.0,0,2.0,1.0,1,0,2,4
14,1,23.0,1.77,60.0,1,1,3.0,1.0,2,0,1.0,0,1.0,1.0,2,3,1,9
15,0,22.0,1.70,66.0,1,0,3.0,3.0,0,0,2.0,1,2.0,1.0,2,3,1,5
16,1,27.0,1.93,102.0,1,1,2.0,1.0,2,0,1.0,0,1.0,0.0,2,3,6,2
17,0,29.0,1.53,78.0,0,1,2.0,1.0,2,0,2.0,0,0.0,0.0,3,0,2,0
18,0,30.0,1.71,82.0,1,1,3.0,4.0,1,1,1.0,0,0.0,0.0,3,0,6,3
19,0,23.0,1.65,70.0,1,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,5,5

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=10)

In [15]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(Clustering_df, test_size=2)
train_x = train.drop('Clusters', axis = 1)
train_y = train['Clusters']

test_x = test.drop('Clusters', axis = 1)
test_y = test['Clusters']

In [11]:
knn_clf.fit(train_x, train_y)
predictions = knn_clf.predict(test_x)

from sklearn.metrics import accuracy_score
print(accuracy_score(test_y, predictions))

0.9546666666666667

In [12]:
Classification_df['Clusters'] = knn_clf.predict(Classification_df)